
.movie-list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 28px;
    // content-visibility: hidden;
}

.load {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #333;
  }