<!-- <div class="main">
  <img class="image" src="{{ profileUrl }}" alt="Simpsons" />
  <p>
    Hello,<span class="text"> {{ title }}</span> 🥳🥳
  </p>
</div> -->

<!-- <router-outlet /> -->

<!-- <div class="movies">
  <app-card
    Title="Love Today"
    imageURL="https://upload.wikimedia.org/wikipedia/en/3/33/Love_Today_2022_poster.jpg"
    description="Movie 1"
    rating="5.5"
  ></app-card>
  <app-card
    Title="Beast"
    imageURL="https://pbs.twimg.com/media/E4bQvR5XwAI3Dzp.jpg"
    description="Movie 2"
    rating="6.8"
  ></app-card>
  <app-card
    Title="PS1"
    imageURL="https://i.redd.it/lq72e1sl4fo91.jpg"
    description="Movie 3"
    rating="7.3"
  ></app-card>
  <app-card
    Title="Sardar"
    imageURL="https://pbs.twimg.com/media/FbkXGJMXoAAcye0.jpg"
    description="Movie 4"
    rating="9.9"
  ></app-card>
</div> -->

<!-- <app-user
  name="Candace Hegmann"
  ImgaeUrl="https://ipfs.io/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/257.jpg"
/>

<app-user
  name="oanne Ryan"
  ImgaeUrl="https://ipfs.io/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/678.jpg"
/>
<app-user
  name="Christy Daugherty"
  ImgaeUrl="https://ipfs.io/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/80.jpg"
/>
<app-user
  name="Kellie Schamberger"
  ImgaeUrl="https://ipfs.io/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/311.jpg"
/> -->

<!-- <app-user></app-user> -->

@for (user of users; track $index) {
<app-user name="{{ user.name }}" ImgaeUrl="{{ user.ImgaeUrl }}"></app-user>

}
