// .image{
//     border-radius: 50%;
//     height: 200px;
//     aspect-ratio: 1/1;
//     background:whitesmoke;
//     border: 1px solid black;
// }

// .text{
//     font-weight: bold;
// }

// p{
//     font-size: 22px;
// }

// .main{
//     display: grid;
//     justify-content: center;
//     min-height: 100vh;
//     align-content: center;
//     justify-items: center;
// }


// .movies{
//     display: flex;
//     gap: 3rem;
//     margin: 40px 80px;
//     justify-content: space-evenly;    
// }


.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #333;
  }
  